//-local mixin

mixin checkbox (inputName, labelValue, checked)
	li.checkbox-list__item(class='checkbox-list__item_#{inputName}')
		case checked
			when "+"
				input.checkbox-list__input(
					class='checkbox-list__input_#{inputName}'
					id='#{inputName}'
					name='#{inputName}'
					type='checkbox'
					checked
				)
			default
				input.checkbox-list__input(
					class='checkbox-list__input_#{inputName}'
					id='#{inputName}'
					name='#{inputName}'
					type='checkbox'
				)
		case labelValue
			when "С глазомером всё ок"
				label.checkbox-list__label(
					class='checkbox-list__label_#{inputName}'
					for='#{inputName}'
					) С
					span(
						class='checkbox-list__label_#{inputName}_bug1') глазомером
					span(
						class='checkbox-list__label_#{inputName}_bug2') всё
					span(
						class='checkbox-list__label_#{inputName}_bug3') ок
			when "Читаю blog.csssr.ru"
				label.checkbox-list__label(
					class='checkbox-list__label_#{inputName}'
					for='#{inputName}'
					) Читаю
						a(
							class='checkbox-list__label_#{inputName}_link'
							href='http://blog.csssr.ru') blog.csssr.ru
			default
				label.checkbox-list__label(
					class='checkbox-list__label_#{inputName}'
					for='#{inputName}'
					) #{labelValue}

//-//////////////////////////////////////////////////

mixin checkbox-list(list)
	+b('ul').checkbox-list&attributes(attributes)
		each item in list
			+checkbox(item[0], item[1], item[2])

		block
