//-local mixin
mixin input-list-item(itemTitle, labelValue, inputValue, type)
	li.input-list__item(class='input-list__item_#{itemTitle}')
		label.input-list__label(
			class='input-list__label_#{itemTitle}'
			for='#{itemTitle}'
		) #{labelValue}

		input.input-list__input(
			class='input-list__input_#{itemTitle}'
			id='#{itemTitle}'
			type='#{type}'
			name='#{itemTitle}'
			value='#{inputValue}'
		)

//-////////////////////////////////////////////////////

mixin input-list(list)
	+b('ul').input-list&attributes(attributes)
		each item in list
			+input-list-item(item[0], item[1], item[2] ,item[3])

		block
